body {
    background-color: #ffffff; 
    color: #333; 
}

.login-container {
    max-width: 500px;
    margin: 10px auto;
    padding: 20px; /* Increased padding for better spacing */
    background-color: #f9f9f9; /* Light background for better contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.card {
    border-radius: 10px;
    background-color: #f9f9f9; 
    color: #333; 
    border: none;
}

h2 {
    color: #222222; /* Slightly dark color */
    font-weight: bold;
    margin-bottom: 30px; /* Adds space between the heading and form */
    font-size: 2rem; /* Adjust size if needed */
    text-align: center;
}

.form-control {
    width: 100%; /* Ensure it takes full width */
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 1.1rem; /* Adjust font size for better legibility */
}

.form-control:focus {
    background-color: #e6e6e6;
    border-color: #333; 
    box-shadow: none;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem; 
}

.btn-primary {
    background-color: #333; 
    border-color: #333;
    padding: 10px 20px;
    font-size: 1.1rem;
    width: 100%;
}

.btn-primary:hover {
    background-color: #b30000; 
    border-color: #b30000;
}

a {
    color: #e60000;
}

a:hover {
    color: #ff4d4d;
}

.text-center.mt-3 {
    font-size: 1.2rem; 
    text-align: center; 
    margin-top: 1rem; 
}

.text-center.mt-3 a {
    color: #333; 
}

.text-center.mt-3 a:hover {
    color: #333; 
}
