/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 1rem;
  background-color: #ddd;
  color: #333;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-height: 65px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 10px;
  margin-top: 0.6rem;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.nav-menu li a.active {
  text-decoration: underline;
}

.nav-login {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  margin-top: 15px;
}

.search-button {
  padding: 0.25rem 0.75rem; /* Reduced padding */
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem; /* Reduced font size */
}

.search-button:hover {
  background-color: #0056b3;
}

.search-results {
  position: absolute;
  top: 3.5rem;
  left: 2rem;
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-results p {
  margin: 0;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: #333;
}

.search-results p:hover {
  background-color: #f1f1f1;
}

.logo-profile-picture {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username {
  font-size: 1.0rem; 
  font-weight: bold;
  margin-left: 8px; 
  color: #333; 
  margin-bottom: 500px;
}

.button-group {
  display: flex;
  gap: 0.5rem;
  margin-top: 10px;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.5rem; /* Adjust size */
  cursor: pointer;
  color: #333;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}

.search-icon:hover {
  color: #555;
}
